src/dify/Paper CritiqueAgent (Dual Critic).yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: Paper CritiqueAgent (Dual Critic)
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.3.4@3345b596ee5117d9304097feaee866f05ffaf0d76a790fb07acd8b99f6c87cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1775221963854-source-1775222173716-target
      source: '1775221963854'
      sourceHandle: source
      target: '1775222173716'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1775222173716-source-1775222250627-target
      source: '1775222173716'
      sourceHandle: source
      target: '1775222250627'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1775221905054-source-1775223781233-target
      source: '1775221905054'
      sourceHandle: source
      target: '1775223781233'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1775223781233-source-1775221963854-target
      source: '1775223781233'
      sourceHandle: source
      target: '1775221963854'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1775222250627-source-1775232607430-target
      source: '1775222250627'
      sourceHandle: source
      target: '1775232607430'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: llm
      id: 1775232607430-source-1775267719446-target
      source: '1775232607430'
      sourceHandle: source
      target: '1775267719446'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1775267719446-source-1775222345867-target
      source: '1775267719446'
      sourceHandle: source
      target: '1775222345867'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          default: ''
          hint: ''
          label: single_pdf
          options: []
          placeholder: ''
          required: true
          type: file
          variable: single_pdf
      height: 107
      id: '1775221905054'
      position:
        x: -111.91765110197662
        y: 242.61268013394232
      positionAbsolute:
        x: -111.91765110197662
        y: 242.61268013394232
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gpt-4.1-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: e9267b27-d900-46d3-b4c1-0fca4d4afdc2
          role: system
          text: "  - System: You are a Reader agent. Read the following paper and\
            \ produce a structured summary. Cover:       \n  Problem & Motivation,\
            \ Proposed Method, Results, Claimed Contributions.\n  - User: Paper:\n\
            {{#1775223781233.text#}}\n"
        selected: false
        title: Reader
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1775221963854'
      position:
        x: 723.3714696986297
        y: 244.07615277625615
      positionAbsolute:
        x: 723.3714696986297
        y: 244.07615277625615
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params: {}
          mode: chat
          name: gpt-4.1-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 4c3e9e28-a4d0-4c72-a4ae-5509fceb8bcf
          role: system
          text: '


            You are a Critic agent reviewing an AI/ML research paper.

            Generate 12-15 specific critique points.


            Paper summary:

            {{#1775221963854.text#}}

            For each point you MUST:

            - Be concrete and specific, not generic

            - Reference specific sections, tables, or claims from the paper

            - Focus on ONE issue per point


            Cover ALL of these dimensions:

            - Novelty: what prior work is missing or inadequately compared?

            - Methodology: are there hidden assumptions, missing ablations, or design
            choices not justified?

            - Evaluation: are baselines fair? are comparisons apples-to-apples? are
            metrics sufficient?

            - Reproducibility: what implementation details are missing?

            - Clarity: what is confusing or poorly explained in the paper?

            - Limitations: what does the method fail to address or acknowledge?

            - Generalisability: does it work beyond the tested settings?


            IMPORTANT: Only critique what is actually in the paper.

            Do NOT invent references, section numbers, or claims not explicitly stated.

            '
        - id: 71a3d236-f11c-4294-837d-a2e3b950645f
          role: user
          text: ''
        selected: true
        title: Critic1
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1775222173716'
      position:
        x: 1010.4317723074578
        y: 263.6126801339423
      positionAbsolute:
        x: 1010.4317723074578
        y: 263.6126801339423
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
<<<<<<< HEAD
            temperature: 0.2
=======
            temperature: 0.7
>>>>>>> 1da8d46f9341669961f2e12bf6b1dd62b81598ae
          mode: chat
          name: gpt-4.1-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: a339cfc6-0956-4db2-a163-571425fe93bd
          role: system
          text: "You are an Auditor agent. Your job is to make the Critic's review\
            \ stronger.\n\n  Paper summary:\n  {{#1775221963854.text#}}\n\n  Critic\
            \ response:\n  {{#1775222173716.text#}}\n\n  For each critique point:\n\
            \  1. Is it specific enough or too generic? Push for concrete details.\n\
            \  2. Is it supported by evidence from the paper?\n  3. What important\
<<<<<<< HEAD
            \ issues did the Critic completely miss?\n\n  Be aggressive — a weak\
            \ vague point is worse than no point.\n  Explicitly list 3-5 issues the\
            \ Critic missed.\n\n Do NOT suggest ethical implications or bias points\
            \ unless\n  the paper explicitly makes claims in these areas."
=======
            \ issues did the Critic completely miss?\n\n  Be aggressive — a weak vague\
            \ point is worse than no point.\n  Explicitly list 3-5 issues the Critic\
            \ missed.\n\n Do NOT suggest ethical implications or bias points unless\n\
            \  the paper explicitly makes claims in these areas."
>>>>>>> 1da8d46f9341669961f2e12bf6b1dd62b81598ae
        selected: false
        title: Auditor
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1775222250627'
      position:
        x: 1286
        y: 282
      positionAbsolute:
        x: 1286
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1775267719446'
          - text
          value_type: string
          variable: final_review
        selected: false
        title: Output
        type: end
      height: 87
      id: '1775222345867'
      position:
        x: 2490
        y: 282
      positionAbsolute:
        x: 2490
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_array_file: false
        selected: false
        title: Doc Extractor
        type: document-extractor
        variable_selector:
        - '1775221905054'
        - single_pdf
      height: 103
      id: '1775223781233'
      position:
        x: 423.37146969862965
        y: 244.07615277625615
      positionAbsolute:
        x: 423.37146969862965
        y: 244.07615277625615
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
<<<<<<< HEAD
            temperature: 0.2
=======
            temperature: 0.7
>>>>>>> 1da8d46f9341669961f2e12bf6b1dd62b81598ae
          mode: chat
          name: gpt-4.1-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: e7b7554b-a9c1-4d58-bd50-971dc4977c35
          role: system
          text: "You are the Critic agent revising your review based on Auditor feedback.\n\
            \n  Original paper summary:\n  {{#1775221963854.text#}}\n\n  Your original\
            \ critique:\n  {{#1775222173716.text#}}\n\n\n  Auditor feedback:\n  {{#1775222250627.text#}}\n\
            \n  Now produce an improved critique that:\n  - Fixes all weak or vague\
            \ points the Auditor flagged\n  - Adds the missing issues the Auditor\
            \ identified\n  - Keeps all strong original points\n  - Generates 12-15\
            \ total points\n  Generate 12-15 specific critique points.\n\n  For each\
            \ point you MUST:\n  - Be concrete and specific, not generic\n  - Reference\
            \ specific sections, tables, or claims from the paper\n  - Focus on ONE\
            \ issue per point\n\n  Cover ALL of these dimensions:\n  - Novelty: what\
            \ prior work is missing or inadequately compared?\n  - Methodology: are\
            \ there hidden assumptions, missing ablations, or design choices not justified?\n\
            \  - Evaluation: are baselines fair? are comparisons apples-to-apples?\
            \ are metrics sufficient?\n  - Reproducibility: what implementation details\
            \ are missing?\n  - Clarity: what is confusing or poorly explained in\
            \ the paper?\n  - Limitations: what does the method fail to address or\
            \ acknowledge?\n  - Generalisability: does it work beyond the tested settings?\n\
            \n"
        selected: false
        title: CRITIC2
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1775232607430'
      position:
        x: 1617.8793947823435
        y: 304.98414983257203
      positionAbsolute:
        x: 1617.8793947823435
        y: 304.98414983257203
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
<<<<<<< HEAD
            temperature: 0.2
=======
            temperature: 0.7
>>>>>>> 1da8d46f9341669961f2e12bf6b1dd62b81598ae
          mode: chat
          name: gpt-4.1-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 59b36fa9-6890-4a05-b92a-63ec54da7e06
          role: system
          text: " You are a Summariser agent. Consolidate the critique into a final\
            \ structured review.\nCritic2 output:\n{{#1775232607430.text#}}\n\nReader\
            \ summary:\n{{#1775221963854.text#}}\n\nOutput in this exact JSON format:\n\
            {\n  \"summary\": \"2-3 sentence paper summary\",\n  \"strengths\": [\n\
            \    {\"point\": \"strength point\", \"evidence\": \"evidence from paper\"\
            },\n    {\"point\": \"strength point\", \"evidence\": \"evidence from\
            \ paper\"}\n  ],\n  \"weaknesses\": [\n    {\"point\": \"weakness point\"\
            , \"evidence\": \"evidence from paper\"},\n    {\"point\": \"weakness\
            \ point\", \"evidence\": \"evidence from paper\"}\n  ],\n  \"questions\"\
            : [\n    {\"question\": \"open question\", \"motivation\": \"why this\
            \ matters\"},\n    {\"question\": \"open question\", \"motivation\": \"\
            why this matters\"}\n  ]\n}\n"
        selected: false
        structured_output_enabled: false
        title: Summariser
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1775267719446'
      position:
        x: 2190
        y: 282
      positionAbsolute:
        x: 2190
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: 13.190912013315028
      y: 235.8103120203864
      zoom: 0.9885890226699786
  rag_pipeline_variables: []
