src/platforms/n8n_workflow.json
{
  "name": "Paper Critique Multi-Agent Pipeline",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Receive Paper",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "paper-critique",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Reader Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst paper = raw.body ?? raw;\nconst apiKey = $env.OPENAI_API_KEY;\n\nconst paperId = paper.paper_id || '';\nconst title = paper.title || '';\nconst paperText = paper.paper_text || '';\n\nconst data = await this.helpers.request({\n  method: 'POST',\n  uri: 'https://api.openai.com/v1/chat/completions',\n  headers: { 'Authorization': 'Bearer ' + apiKey },\n  body: {\n    model: 'gpt-4o-mini',\n    max_tokens: 1500,\n    messages: [\n      { role: 'system', content: 'You are a careful academic reader. When given a paper, produce a structured summary with these clearly labelled sections:\\n\\n## Problem & Motivation\\n## Proposed Method\\n## Methods\\n## Results\\n## Claimed Contributions\\n\\nBe factual and concise. Include specific numbers from experiments.' },\n      { role: 'user', content: 'Please summarise the following paper:\\n\\nTitle: ' + title + '\\n\\n' + paperText }\n    ]\n  },\n  json: true\n});\n\nconst summary = data.choices[0].message.content;\n\nreturn [{ json: { paper_id: paperId, title: title, paper_text: paperText, reader_summary: summary } }];"
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Critic Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst ctx = raw.body ?? raw;\nconst apiKey = $env.OPENAI_API_KEY;\nconst paperText = ctx.paper_text || '';\n\nconst data = await this.helpers.request({\n  method: 'POST',\n  uri: 'https://api.openai.com/v1/chat/completions',\n  headers: { 'Authorization': 'Bearer ' + apiKey },\n  body: {\n    model: 'gpt-4o',\n    max_tokens: 1200,\n    messages: [\n      { role: 'system', content: 'You are a rigorous peer reviewer for a top-tier ML/AI venue. Given a paper and its summary, identify substantive weaknesses in: novelty, methodology, evaluation, clarity, and reproducibility. For each point give: (a) the issue, (b) why it matters, (c) what specific evidence from the paper supports your concern. Be specific and cite details from the paper.' },\n      { role: 'user', content: 'Paper title: ' + (ctx.title || '') + '\\n\\nPaper text:\\n' + paperText + '\\n\\nReader summary:\\n' + (ctx.reader_summary || '') + '\\n\\nNow list your critique points.' }\n    ]\n  },\n  json: true\n});\n\nconst critique = data.choices[0].message.content;\n\nreturn [{ json: { ...ctx, critic_points: critique } }];"
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Auditor Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst ctx = raw.body ?? raw;\nconst apiKey = $env.OPENAI_API_KEY;\nconst paperText = ctx.paper_text || '';\n\nconst data = await this.helpers.request({\n  method: 'POST',\n  uri: 'https://api.openai.com/v1/chat/completions',\n  headers: { 'Authorization': 'Bearer ' + apiKey },\n  body: {\n    model: 'gpt-4o-mini',\n    max_tokens: 1000,\n    messages: [\n      { role: 'system', content: 'You are a senior programme committee member auditing a peer review. Challenge critique points that are vague, generic, or unsupported by the paper. Require concrete evidence from the paper text or summary. If a point cannot be tied to specific content, say it should be removed or rewritten. Also identify important paper-level weaknesses the Critic missed. Do not discuss the quality of the debate itself except to demand grounding in the paper.' },\n      { role: 'user', content: 'Paper title: ' + (ctx.title || '') + '\\n\\nPaper text:\\n' + paperText + '\\n\\nPaper summary:\\n' + (ctx.reader_summary || '') + '\\n\\nCritic points:\\n' + (ctx.critic_points || '') + '\\n\\nAudit the critique. For each weak point, explain what evidence is missing. Then list any important missed weaknesses that are actually grounded in the paper.' }\n    ]\n  },\n  json: true\n});\n\nconst auditFeedback = data.choices[0].message.content;\n\nreturn [{ json: { ...ctx, auditor_feedback: auditFeedback } }];"
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Summariser Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300],
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst ctx = raw.body ?? raw;\nconst apiKey = $env.OPENAI_API_KEY;\nconst paperText = ctx.paper_text || '';\n\nconst schema = '{\"summary\":\"<2-3 sentence summary>\",\"strengths\":[{\"point\":\"<strength>\",\"evidence\":\"<evidence>\"}],\"weaknesses\":[{\"point\":\"<weakness>\",\"evidence\":\"<evidence>\"}],\"questions\":[{\"question\":\"<question>\",\"motivation\":\"<why it matters>\"}],\"scores\":{\"correctness\":\"<1-5>\",\"novelty\":\"<1-5>\",\"recommendation\":\"<accept|borderline|reject>\",\"confidence\":\"<1-5>\"}}';\n\nconst transcript = '=== Reader ===\\n' + (ctx.reader_summary || '') + '\\n\\n=== Critic ===\\n' + (ctx.critic_points || '') + '\\n\\n=== Auditor ===\\n' + (ctx.auditor_feedback || '');\n\nconst data = await this.helpers.request({\n  method: 'POST',\n  uri: 'https://api.openai.com/v1/chat/completions',\n  headers: { 'Authorization': 'Bearer ' + apiKey },\n  body: {\n    model: 'gpt-4o',\n    max_tokens: 1000,\n    messages: [\n      { role: 'system', content: 'You are a senior editor writing a peer review of the paper. Output only valid JSON matching this schema: ' + schema + ' The review must be about the paper itself, not about missing context or about the quality of the critique. Every weakness must be grounded in specific content from the paper text or summary. Do not include generic fallback complaints like unclear novelty, weak methodology, or reproducibility concerns unless the transcript ties them to concrete details. Remove unsupported points instead of keeping them vague. Prefer fewer high-quality weaknesses over generic ones. No markdown fences, no commentary.' },\n      { role: 'user', content: 'Paper title: ' + (ctx.title || '') + '\\n\\nPaper text:\\n' + paperText + '\\n\\nFull debate transcript:\\n\\n' + transcript + '\\n\\nProduce the final structured review JSON.' }\n    ]\n  },\n  json: true\n});\n\nlet rawOutput = data.choices[0].message.content.trim();\nif (rawOutput.startsWith('```')) {\n  rawOutput = rawOutput.split('```')[1];\n  if (rawOutput.startsWith('json')) rawOutput = rawOutput.slice(4);\n}\n\nlet structured;\ntry {\n  structured = JSON.parse(rawOutput);\n} catch (e) {\n  structured = {\n    summary: ctx.reader_summary || '',\n    strengths: [],\n    weaknesses: [],\n    questions: [],\n    scores: {\n      correctness: '3',\n      novelty: '3',\n      recommendation: 'borderline',\n      confidence: '2'\n    },\n    raw: rawOutput\n  };\n}\n\nreturn [{ json: { paper_id: ctx.paper_id, title: ctx.title, output: structured } }];"
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1440, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Receive Paper": {
      "main": [[{"node": "Reader Agent", "type": "main", "index": 0}]]
    },
    "Reader Agent": {
      "main": [[{"node": "Critic Agent", "type": "main", "index": 0}]]
    },
    "Critic Agent": {
      "main": [[{"node": "Auditor Agent", "type": "main", "index": 0}]]
    },
    "Auditor Agent": {
      "main": [[{"node": "Summariser Agent", "type": "main", "index": 0}]]
    },
    "Summariser Agent": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
